body {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 26px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

h2 {
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*HEADER*/
.main-header {
  padding-bottom: 15px;
  background-color: white;
  position: relative;
}
.container-header,  .container-footer{
  padding-top: 15px;
  width: 1056px;
  margin: 0 auto;
}
.index-logo {
  position: absolute;
  left: 540px;
  margin-right: -68px;

}
.main-header ul {
  margin: 0;
  padding: 0;
}
.main-header li {
  float: left;
  list-style-type: none;
  margin-left: 0;

}
.main-header li:first-child {
  margin-right: 147px;
}
.main-header li:nth-child(2) {
  margin-right: 386px;
}
.main-header a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.main-header a:hover {
  color: #81b3d2;
}
.main-header a:active {
  color: #766357;
}
.main-header a:active:hover {
  color: #604e43;
}
.main-header a:visited {
  color: #b2b2b2;
}
.main-header a:visited:active {
  color: #b2b2b2;
}
.main-header li:last-child {
  float: right;
  margin-right: 0;
}
.content-logo {
  min-height: 510px;
  min-width: 1200px;
  background: url("../img/background_photo.jpg") no-repeat;
}
.content-title {
  width: 580px;
  margin: 0 auto;
}
.content-title h1 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-size: 21px;
  text-align: center;
}
.content-title p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}


/*Two column block*/

.features-two-column-content {
  width: 400px;
  float: left;
  background-color: #81b3d2;
  padding-top: 75px;
  padding-bottom: 75px;
}
/*Three column block*/
.features-three-column-content {
  width: 400px;
  float: left;
}
.features-three-column-img img {
  margin: 0 auto;
}
.features-two-column-img-left {
  float: left;
}
.features-two-column-content-right {
  background-color: #81b3d2;
  padding-top: 75px;
  padding-bottom: 75px;
}

/*FORM*/

.form form {
  /*box-sizing: border-box;*/
  width: 568px;
  margin: 0 auto;
  outline: auto;
}
.form-title {
  background-color: #766357;
  margin-bottom: 55px;
}
.form-title h2 {
  width: 340px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
.form-row {
  margin: 0 auto;
  width: 456px;
  margin-bottom: 30px;
}
.form-date {
  float: left;
}
input[type="date"] {
  width: 346px;
  padding-top: 6px;
  padding-bottom: 6px;
  float: right;
  background-color: #f2f2f2;
  border: none;
}
input[type="number"] {
  width: 114px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #f2f2f2;
  border: none;
}
.form-child {
  float: right;
}
.people {
  margin-bottom: 54px;
}
input[type="button"] {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  border: none;
  color: wheat;
  font-size: 21px;
}

/* FOOTER*/

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 20px;
}
.footer-social {
  float: left;
  width: 200px;
}
.footer-copyright {
  float: right;
  width: 320px;
}
