body {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 26px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

h2 {
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*HEADER*/
.main-header {
  background-color: #AFC7A7;
}
.container-header,  .container-footer{
  width: 1080px;
  margin: 0 auto;
}
.index-logo {
  margin: 0 auto;
  position: relative;;
  left: 500px;
  height: 2px;
}
.main-header li {
  display: inline-block;
}
.content-logo {
  min-height: 510px;
  min-width: 1200px;
  background: url("../img/background_photo.jpg") no-repeat;
}
.content-title {
  width: 580px;
  margin: 0 auto;
}


/*Two column block*/

.features-two-column-content {
  width: 400px;
  float: left;
  background-color: #81b3d2;
  padding-top: 75px;
  padding-bottom: 75px;
}
/*Three column block*/
.features-three-column-content {
  width: 400px;
  float: left;
}
.features-three-column-img img {
  margin: 0 auto;
}
.features-two-column-img-left {
  float: left;
}
.features-two-column-content-right {
  background-color: #81b3d2;
  padding-top: 75px;
  padding-bottom: 75px;
}

/*FORM*/

.form form {
  /*box-sizing: border-box;*/
  width: 568px;
  margin: 0 auto;
  outline: auto;
}
.form-title {
  background-color: #766357;
  margin-bottom: 55px;
}
.form-title h2 {
  width: 340px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
.form-row {
  margin: 0 auto;
  width: 456px;
  margin-bottom: 30px;
}
.form-date {
  float: left;
}
input[type="date"] {
  width: 346px;
  padding-top: 6px;
  padding-bottom: 6px;
  float: right;
  background-color: #f2f2f2;
  border: none;
}
input[type="number"] {
  width: 114px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #f2f2f2;
  border: none;
}
.form-child {
  float: right;
}
.people {
  margin-bottom: 54px;
}
input[type="button"] {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  border: none;
  color: white;
  font-size: 21px;
}

/* FOOTER*/

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 20px;
}
.footer-social {
  float: left;
  width: 200px;
}
.footer-copyright {
  float: right;
  width: 320px;
}
