body {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  background: #f2f2f2;
}
.wrapper {
  width: 1200px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  background: white;
  box-shadow: 3px 0 9px 1px #dbdbdb,
              -3px 0 9px 1px #dbdbdb;
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
  url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona", serif;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */
h1 {
  font-size: 26px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

h2 {
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*HEADER*/
.main-header {
  padding-bottom: 15px;
  background-color: white;
  position: relative;
}
.container-header {
  padding-top: 15px;
  width: 88%;
  margin: 0 auto;
}
.container-footer {
  padding-top: 35px;
  padding-bottom: 35px;
  width: 88%;
  margin: 0 auto;
}
.index-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-header ul {
  margin: 0;
  padding: 0;
}
.main-header li {
  width: 20%;
  list-style: none;
}
.main-header li:first-child {
  float: left;
  text-align: left;
}
.main-header li:nth-child(2) {
  float: left;
  text-align: left;
}
.main-header li:last-child {
  float: right;
  text-align: right;
}
.main-header li:nth-child(3) {
  float: right;
  text-align: right;
}
.main-header a {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}
.main-header a:hover {
  color: #81b3d2;
}
.main-header a:active {
  color: #b2b2b2;
}
.current a {
  color: #766357;
}
.current a:hover {
  color: #604e43;
}
.current a:active {
  color: #d6d0cc;
}
.content-logo {
  min-height: 510px;
  min-width: 1200px;
  background: url("../img/intro_deco.png") 0 453px no-repeat,
              url("../img/welcome_sedona.png") 371px no-repeat,
              #9d6562 url("../img/background_photo.jpg") no-repeat;
}
.content-title {
  width: 580px;
  margin: 0 auto;
}
.content-title h1 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.content-title p {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
/*Two column block*/

.features-two-column-content {
  width: 33.3334%;
  float: left;
  background-color: #81b3d2;
  padding-top: 46px;
  padding-bottom: 46px;
  color: #ffffff;
}
.features-two-column-content div:first-child {
  font-size: 21px;
  font-weight: bold;
  width: 130px;
  margin: 0 auto;
  text-align: center;
}
.features-two-column-content-number {
  font-size: 14px;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  padding: 17px 0;
}
.features-two-column-content p {
  font-size: 14px;
  width: 285px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.features-two-column-content-right {
  width: 33.3333%;
  float: left;
  background-color: #81b3d2;
  padding-top: 46px;
  padding-bottom: 46px;
  color: #ffffff;
}
.features-two-column-content-right div:first-child {
  font-size: 21px;
  font-weight: bold;
  width: 153px;
  margin: 0 auto;
  text-align: center;
}
.features-two-column-content-number {
  font-size: 14px;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  padding: 17px 0;
}
.features-two-column-content-right p {
  font-size: 14px;
  width: 285px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
/*Three column block*/

.features-three-column-content {
  width: 33.3333%;
  float: left;
  padding-top: 50px;
  padding-bottom: 74px;
}
.features-three-column-down {
  background-color: #eeeeee;
}
.features-three-column-content-down {
  width: 33.3333%;
  float: left;
  padding-top: 50px;
  padding-bottom: 74px;
}
.features-three-column-content-down p {
  text-align: center;
  width: 280px;
  margin: 0 auto;
}
.features-three-column-title {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.features-three-column-content-number {
  font-size: 14px;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  padding: 17px 0;
}
.features-three-column-content-title {
  font-size: 21px;
  font-weight: bold;
  width: 153px;
  margin: 0 auto;
  text-align: center;
}
.features-three-column-content p {
  text-align: center;
  width: 290px;
  margin: 0 auto;
}
.features-three-column-img img {
  margin: 0 auto;
}
.features-two-column-img-left {
  float: left;
  width: 66.6666%;
  height: 256px;
}
.features-two-column-img-right {
  height: 256px;
  width: 66.6666%;
  float: right;
}
.features-footer {
  margin: 55px 0 50px 0;
}
.features-footer h2 {
  width: 315px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
.features-footer p {
  width: 445px;
  margin: 0 auto;
  text-align: center;
}

/*FORM*/
.form {
  position: relative;

}
.form form {
  /*box-sizing: border-box;*/
  width: 568px;
  /*margin: 0 auto;*/
  padding-top: 55px;
  background: #ffffff;
  box-shadow: 0 3px 5px 2px #ededed;
}
.form-title a {
  background-color: #766357;
  width: 568px;
  margin: 0 auto;
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  cursor: pointer;
}
.form-row {
  margin: 0 auto;
  width: 456px;
  margin-bottom: 30px;
}
.form-date {
  float: left;
}
.label-date-in, .label-date-out{
  position: relative;
}
.calendar {
  position: absolute;
  font-size: 21px;
  content: "";
  width: 24px;
  height: 24px;
  left: 420px;
  top: 6px;
  color: #c2c2c2;
}
.calendar:hover {
  color: #000000;
}
.calendar:active {
  color: #81b3d2;
}
.calendar:hover {
  color: #000000;
}
.calendar:active {
  color: #81b3d2;
}
.label-date-in input, .label-date-out input {
  box-sizing: border-box;
  width: 346px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 35px;
  float: right;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.label-date-in input:hover, .label-date-out input:hover {
  background-color: #ebebeb;
}
.label-date-in input:focus, .label-date-out input:focus {
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
}
.form-adults input, .form-child input {
  box-sizing: border-box;
  width: 114px;
  padding: 8px 45px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.form-adults input {
  box-sizing: border-box;
  margin-left: 35px;
  border: 2px solid #f2f2f2;
}
.form-child input {
  box-sizing: border-box;
  margin-left: 35px;
  border: 2px solid #f2f2f2;
}
.form-adults input:hover, .form-child input:hover {
  background-color: #ebebeb;
}
.form-adults input:focus, .form-child input:focus {
  background-color: #ffffff;
  outline: none;
  border: 2px solid #e5e5e5;
}

.form-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 6px;
}
.form-adults {
  position: relative;
  float: left;
  width: 240px;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.form-child {
  position: relative;
  float: right;
  width: 195px;
  text-align: right;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.form-adults span::before {
  position: absolute;
  font-family: "symbols-sedona";
  font-size: 14px;
  content: "\e802";
  width: 24px;
  height: 24px;
  left: 125px;
  top: 6px;
  color: #c2c2c2;
}
.form-adults span:hover::before {
  color: #000000;
}
.form-adults span:active::before {
  color: #81b3d2;
}
.form-adults span::after {
  position: absolute;
  font-family: "symbols-sedona";
  font-size: 14px;
  content: "\e801";
  width: 24px;
  height: 24px;
  left: 200px;
  top: 6px;
  color: #c2c2c2;
}
.form-adults span:hover::after {
  color: #000000;
}
.form-adults span:active::after {
  color: #81b3d2;
}
.form-child span::before {
  position: absolute;
  font-family: "symbols-sedona";
  font-size: 14px;
  content: "\e802";
  width: 24px;
  height: 24px;
  left: 82px;
  top: 6px;
  color: #c2c2c2;
}
.form-child span:hover::before {
  color: #000000;
}
.form-child span:active::before {
  color: #81b3d2;
}
.form-child span::after {
  position: absolute;
  font-family: "symbols-sedona";
  font-size: 14px;
  content: "\e801";
  width: 24px;
  height: 24px;
  left: 157px;
  top: 6px;
  color: #c2c2c2;
}
.form-child span:hover::after {
  color: #000000;
}
.form-child span:active::after {
  color: #81b3d2;
}

button[type="submit"] {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #81b3d2;
  border: none;
  color: white;
  font-size: 21px;
}
button[type="submit"]:hover {
  background-color: #669ec0;
}
button[type="submit"]:active {
  background-color: #5496bd;
  color: #88b6d1;
}

/*MAP*/
.map {
  width: 100%;
  height: 475px;
}

/* FOOTER*/
.main-footer-index {
  position: absolute;
  height: 120px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  float: left;
  width: 33.3333%;
}
.hashtag {
  width: 145px;
  margin: 0 auto;
  margin-top: 11px;
}
.footer-contacts a {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: black;
  vertical-align: top;
}
.footer-social {
  float: left;
  width: 33.3333%;
  text-align: center;
}
.footer-copyright {
  float: right;
  width: 33.3333%;
  text-align: right;
  font-size: 0;
}
.copyright-center {
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 0;
}
.copyright-center span{
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
  line-height: 26px;
  font-size: 14px;
  margin-right: 8px;
}
.footer-copyright a {
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 39px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -192px;
  font-size: 0;
}
.footer-copyright a:hover {
  background: url("../img/sprite.png") no-repeat;
  width: 113px;
  height: 39px;
  background-position: -10px -310px;
}
.footer-copyright a:active {
  background: url("../img/sprite.png") no-repeat;
  width: 113px;
  height: 39px;
  background-position: -10px -251px;
}
.footer-social {
  font-size: 0;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  color: #ffffff;
  position: relative;
  text-align: center;
  margin-right: 6px;
}
.social-btn:last-child {
  margin-right: 0;
}

.icon-twitter, .icon-facebook, .icon-youtube {
  font-size: 19px;
  line-height: 48px;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}
/*MODAL*/
.modal-content {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  left: 316px;
  top: 86px;
  z-index: 10;
}
@keyframes bounce {
  0%   {
    transform: translateY(-20px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

/*SPRITE*/
.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-food {
  width: 74px;
  height: 70px;
  background-position: -10px -10px;
  margin: 0 auto;
}

.sprite-housing {
  width: 75px;
  height: 72px;
  background-position: -10px -100px;
  margin: 0 auto;
}

.sprite-html_academy {
  width: 113px;
  height: 39px;
  background-position: -10px -192px;
}

.sprite-html_academy-down {
  width: 113px;
  height: 39px;
  background-position: -10px -251px;
}

.sprite-html_academy-hvr {
  width: 113px;
  height: 39px;
  background-position: -10px -310px;
}

.sprite-souvenirs {
  width: 64px;
  height: 76px;
  background-position: -10px -369px;
  margin: 0 auto;
}

/*HOTELS FILTER*/
.filter {
  background: #7a92aa url("../img/filter-background.jpg") no-repeat;
}
.filter-form {
  width: 1056px;
  margin: 0 auto;
}
.filter-form h2 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 25px 0;
}
fieldset {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  border: none;
  float: left;
  width: 240px;
}
.filter-cost {
  width: 450px;
  float: right;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: block;
  margin: 23px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
  color: white;
}
input[type="checkbox"] + label::before {
  font-family: "symbols-sedona", sans-serif;
  font-size: 26px;
  color: white;
  content: "\2610";
  position: absolute;
  top:0;
  left: 0;
  width: 27px;
  height: 27px;
}
input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a;
}
.filter-range {
  color: #ffffff;
  float: right;
  width: 330px;
}
.filter-range-title {
  margin-top: 25px;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
.price-controls::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255,255,255,0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.filter-range .btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.filter-range .btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.result {
  width: 1056px;
  margin: 0 auto;
}
.result-total {
  margin-top: 30px;
  margin-bottom: 30px;
}
.result-total::after {
  padding-bottom: 28px;
  content: '';
  border-bottom: 1px solid #e5e5e5;
  width: 1200px;
  margin-left: -72px;
}
.result-total h3 {
  margin: 0;
  float: left;
  width: 170px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.result-total ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.result-total li {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
.result-total-sort {
  float: left;
  width: 500px;
}
.result-total-sort span {
  font-size: 12px;
  line-height: 18px;
}
.result-total-sort a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}
.result-total-sort a:hover {
  color: #81b3d2;
}
.result-total-sort a:active {
  color: #000000;
  border-bottom: none;

}

.result-total-arrow {
  float: right;
  width: 100px;
  text-align: right;
}
.result-total-arrow a {
  font-size: 0;
  text-decoration: none;
}

.result-total-up::before {
  content: "\25b2";
  font-family: "symbols-sedona", sans-serif;
  font-size: 23px;
  line-height: 20px;
  letter-spacing: 10px;
  color: #cccccc;
}
.result-total-up:hover::before {
  color: #000;
}
.result-total-up:active::before {
  color: #81b3d2;
}
.result-total-down::before {
  content: "\25bc";
  font-family: "symbols-sedona", sans-serif;
  font-size: 23px;
  line-height: 20px;
  letter-spacing: 10px;
  color: #cccccc;
}
.result-total-down:hover::before {
  color: #000;
}
.result-total-down:active::before {
  color: #81b3d2;
}
.active::before {
  content: "\25bc";
  font-family: "symbols-sedona", sans-serif;
  font-size: 23px;
  line-height: 20px;
  letter-spacing: 10px;
  color: #81b3d2;
}
.active:hover::before {
  color: #000;
}
.active:active::before {
  color: #81b3d2;
}
.result-hotels {
  margin: 30px 0;
}

.result-hotels:after {
  padding-bottom: 28px;
  content: '';
  border-bottom: 1px solid #e5e5e5;
  width: 1200px;
  margin-left: -72px;
}
.result-hotels-item {
  float: left;
  width: 530px;
}
.result-hotels-item img {
  float: left;
  width: 135px;
  margin-right: 23px;
}
.result-hotels-item-title a {
  text-decoration: none;
  color: #000;
  font-size: 21px;
  font-weight: bold;
}
.result-hotels-item-title a:hover {
  color: #81b3d2;
}
.result-hotels-item-title a:active {
  color: #b2b2b2;
}
.result-hotels-item-hotels {
  padding-top: 4px;
  padding-bottom: 5px;
  font-size: 0;
}
.result-hotels-item-type {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.result-hotels-item-price {
  display: inline-block;
  vertical-align: top;
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.result-hotels-button {
  font-size: 0;
}
.result-hotels-button .btn {
  padding: 3px 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
.btn-more {
  background-color: #81b3d2;
  width: 110px;
  margin-right: 6px;
}
.btn-more:hover {
  background-color: #669ec0;
}
.btn-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.btn-reserve  {
   background-color: #766357;
  width: 142px;
 }
.btn-reserve:hover {
  background-color: #604e43;
}
.btn-reserven:active {
  background-color: #503e33;
}
.btn-reserve:active {
  color: #857871;
}
.result-hotels-rating {
  float: right;
  width: 120px;
  text-align: right;
}
/*STARS*/
.rating {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.rating li {
  display: inline-block;
  vertical-align: top;
}
.icon-star {
  font-size: 19px;
  line-height: 21px;
  color: #81b3d2;
}
.result-hotels-rating div:last-child{
  font-size: 14px;
  line-height: 21px;
  padding: 5px 15px;
  margin-top: 28px;
  background: #f2f2f2;
}
